/* remove dot before li tag */
li {
    list-style: none;
}

/* set color of visited anchor tag */
a:visited {
    color: #2596be;
}

/* set color, background on hover and make them to show in more time */
a:hover {
    color: #147290;
    background: #46bce3;
    transition: 1.5s;
}

/* align li in the main menu to center */
.main__menu--li {
    display: flex;
    justify-content: center;
}

/* align table to the center */
table {
    margin: auto;
}

/* align a table data cell element to the center */
td {
    text-align: center;
}

/* set first child of a table element bold */
td:first-child {
    font-weight: bold;
}
